extends layout

block content
  div.w3-container.w3-dark-grey
    h1 Lista de Laureados
      div.w3-bar-block.w3-black
        table.w3-table.w3-medium
            tr
                th 
                  u Firstname
                th 
                  u Surname
                th 
                  u Year
                th 
                  u Category
            each l in laureados
                tr
                    td= l.firstname
                    td= l.surname
                    td= l.prizes[0].year
                    td= l.prizes[0].category
      footer.w3-footer.w3-medium
        b By: Diogo Silva 
        a(href="https://github.com/diogogsilva/dweb2019") (GitHub)
        br
        a(href="http://localhost:3008/") Voltar ao Início